/*------------------------------------------------------------------------------
  Footer feature
------------------------------------------------------------------------------*/

.footer-feature {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
}
