/*------------------------------------------------------------------------------
  1. sticky footer
------------------------------------------------------------------------------*/

// 1. setup sticky footer
body {
  overflow-x: hidden;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.main {
  flex: 1 0 auto;
}
