/*------------------------------------------------------------------------------
  Full width container breakout
------------------------------------------------------------------------------*/

.full-width {
  margin-left: -100%;
  margin-right: -100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.full-width-sm {
  @include media-breakpoint-up(sm) {
    margin-left: -100%;
    margin-right: -100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}

.full-width-left {
  margin-left: -100%;
  margin-left: calc(50% - 50vw);
}
.full-width-right {
  margin-right: -100%;
  margin-right: calc(50% - 50vw);
}

.container-fluid {
  overflow-x: hidden;
}
