/*------------------------------------------------------------------------------
  Full width container breakout
------------------------------------------------------------------------------*/

.full-width {
  margin-left: -100%;
  margin-right: -100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}
