/*------------------------------------------------------------------------------
  Inline SVG styles
------------------------------------------------------------------------------*/
svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
  // fill: currentColor;

  > path {
    // fill: currentColor;
  }

  .btn & {
    margin-right: .5rem;
  }

  // icons in wp menu
  .navbar-nav > li > a > & {
    margin-right: .5rem;
    top: 0.2em;
    vertical-align: middle;
    position: relative;
  }

  // icons in wp menu - dropdown
  .dropdown-menu & {
    height: 2em;
    margin-bottom: -1em;
    margin-top: -1em;
    margin-right: 1rem;
    opacity: .5;
  }
}

/*------------------------------------------------------------------------------
  Icon sizes
------------------------------------------------------------------------------*/

// https://gist.github.com/jareware/4738651#5-the-list-data-type
$iconSizes:
  'sm' $font-size-sm,
  'lg' ($font-size-lg * 2),
  'xl' ($font-size-lg * 4),
  'xxl' ($font-size-lg * 10),
  'md' $font-size-base;

@each $tuple in $iconSizes {
  .icon-#{nth($tuple, 1)} svg {
    font-size: nth($tuple, 2);
  }
}

/*------------------------------------------------------------------------------
  Bootstrap overrides
------------------------------------------------------------------------------*/

.img-fluid {
  width: 100%;
}

/*------------------------------------------------------------------------------
  Full width featured images
  <div class="py-7 full-width-image" style="background-image: url('https://www.swissotel.com/assets/0/92/2119/3396/3435/3437/4719/0f9657e8-5c23-49ed-82ab-6514684e1fbe.jpg');">
  </div>
------------------------------------------------------------------------------*/

.full-width-image {
  min-height: 50vh;
  background-position: 50% 50%;
}
