/*------------------------------------------------------------------------------
  Inline SVG styles
------------------------------------------------------------------------------*/
svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: auto;
  overflow: visible;
  vertical-align: -.125em;
  fill: $primary; // add margin for buttons

  .btn & {
    margin-right: .5rem;
  }
}

/*------------------------------------------------------------------------------
  Icon sizes
------------------------------------------------------------------------------*/

// https://gist.github.com/jareware/4738651#5-the-list-data-type
$iconSizes:
  'sm' $font-size-sm,
  'lg' ($font-size-lg * 2),
  'xl' ($font-size-lg * 4),
  'md' $font-size-base;

@each $tuple in $iconSizes {
  .icon-#{nth($tuple, 1)} svg {
    font-size: nth($tuple, 2);
  }
}

$iconColors:
  'blue' $blue,
  'indigo' $indigo,
  'purple' $purple,
  'pink' $pink,
  'red' $red,
  'orange' $orange,
  'yellow' $yellow,
  'green' $green,
  'teal' $teal,
  'cyan' $cyan,
  'white' $white,
  'black' $black;

@each $tuple in $iconColors {
  .icon-#{nth($tuple, 1)} svg {
    fill: nth($tuple, 2);
  }
}

/*------------------------------------------------------------------------------
  Bootstrap overrides
------------------------------------------------------------------------------*/

.img-fluid {
  width: 100%;
}
