// needs to be set in variables.scss:
// $font-family-sans-serif:      'Nokia Pure Text Light', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-sans-serif-bold: 'Nokia Pure Text Regular', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $headings-font-family:         'Nokia Pure Headline UltraLight', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $headings-font-family-light:   'Nokia Pure Headline Light', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $headings-font-weight:         normal !default;

strong, b, th {
  font-family: 'Nokia Pure Text Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

@font-face {
  font-family:'Nokia Pure Headline UltraLight';
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-UltraLight_latin+latin-ext_gdi.eot");
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-UltraLight_latin+latin-ext_gdi.eot?#iefix") format("embedded-opentype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/nokiapureheadline_ultralight.woff") format("woff"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-UltraLight_latin+latin-ext_gdi.ttf") format("truetype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-UltraLight_latin+latin-ext_gdi.svg#NokiaPureHeadline-UltraLight") format("svg");
  font-weight:250;
  font-style:normal;
  font-stretch:normal;
  unicode-range:U+0008-2215
  }

  @font-face {
  font-family:'Nokia Pure Headline Light';
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Light_latin+latin-ext_gdi.eot");
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Light_latin+latin-ext_gdi.eot?#iefix") format("embedded-opentype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/nokiapureheadline_light.woff") format("woff"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Light_latin+latin-ext_gdi.ttf") format("truetype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Light_latin+latin-ext_gdi.svg#NokiaPureHeadline-Light") format("svg");
  font-weight:300;
  font-style:normal;
  font-stretch:normal;
  unicode-range:U+0008-2215
  }

  @font-face {
  font-family:'Nokia Pure Headline Regular';
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Regular_latin+latin-ext_gdi.eot");
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Regular_latin+latin-ext_gdi.eot?#iefix") format("embedded-opentype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/nokiapureheadline_regular.woff") format("woff"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Regular_latin+latin-ext_gdi.ttf") format("truetype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Regular_latin+latin-ext_gdi.svg#NokiaPureHeadline-Regular") format("svg");
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
  unicode-range:U+0008-2215
  }

  @font-face {
  font-family:'Nokia Pure Headline Bold';
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Bold_latin+latin-ext_gdi.eot");
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Bold_latin+latin-ext_gdi.eot?#iefix") format("embedded-opentype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Bold_latin+latin-ext_gdi.woff") format("woff"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Bold_latin+latin-ext_gdi.ttf") format("truetype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureHeadline-Bold_latin+latin-ext_gdi.svg#NokiaPureHeadline-Bold") format("svg");
  font-weight:700;
  font-style:normal;
  font-stretch:normal;
  unicode-range:U+0008-2215
  }

  @font-face {
  font-family:'Nokia Pure Text Light';
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Light_latin+latin-ext_gdi.eot");
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Light_latin+latin-ext_gdi.eot?#iefix") format("embedded-opentype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Light_latin+latin-ext_gdi.woff") format("woff"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Light_latin+latin-ext_gdi.ttf") format("truetype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Light_latin+latin-ext_gdi.svg#NokiaPureText-Light") format("svg");
  font-weight:300;
  font-style:normal;
  font-stretch:normal;
  unicode-range:U+0008-2215
  }

  @font-face {
  font-family:'Nokia Pure Text Regular';
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Regular_latin+latin-ext_gdi.eot");
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Regular_latin+latin-ext_gdi.eot?#iefix") format("embedded-opentype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Regular_latin+latin-ext_gdi.woff") format("woff"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Regular_latin+latin-ext_gdi.ttf") format("truetype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Regular_latin+latin-ext_gdi.svg#NokiaPureText-Regular") format("svg");
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
  unicode-range:U+0008-2215
  }

  @font-face {
  font-family:'Nokia Pure Text Medium';
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Medium_latin+latin-ext_gdi.eot");
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Medium_latin+latin-ext_gdi.eot?#iefix") format("embedded-opentype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Medium_latin+latin-ext_gdi.woff") format("woff"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Medium_latin+latin-ext_gdi.ttf") format("truetype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Medium_latin+latin-ext_gdi.svg#NokiaPureText-Medium") format("svg");
  font-weight:600;
  font-style:normal;
  font-stretch:normal;
  unicode-range:U+0008-2215
  }

  @font-face {
  font-family:'Nokia Pure Text Bold';
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Bold_latin+latin-ext_gdi.eot");
  src:url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Bold_latin+latin-ext_gdi.eot?#iefix") format("embedded-opentype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Bold_latin+latin-ext_gdi.woff") format("woff"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Bold_latin+latin-ext_gdi.ttf") format("truetype"),
  url("../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/NokiaPureText-Bold_latin+latin-ext_gdi.svg#NokiaPureText-Bold") format("svg");
  font-weight:700;
  font-style:normal;
  font-stretch:normal;
  unicode-range:U+0008-2215
  }

  @font-face {
  font-family:"Nokia Pure Symbols";
  src:url('../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/nokiapuresymbols.eot');
  src:url('../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/nokiapuresymbols.eot?#iefix') format('embedded-opentype'),
  url('../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/nokiapuresymbols.ttf') format('truetype'),
   url('../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/nokiapuresymbols.woff') format('woff'),
   url('../../../canary-parent-bootstrap4/resources/assets/fonts/nokia/nokiapuresymbols.svg') format('svg')
  }

  .nokia-icon {
    font-family: 'Nokia Pure Symbols';
  }
