/*------------------------------------------------------------------------------
  Sponsor thumb list
------------------------------------------------------------------------------*/

.sponsor-group {
  max-width: 60rem;
  margin: auto;

  + .sponsor-group {
    margin-top: $spacer * 2;
  }
}

.sponsor-group-title,
.sponsor-category-title {
  margin-bottom: 0;
}

.sponsor-thumb {
  max-width: 12rem;
  min-width: 12rem;
  margin-top: $spacer;

  img {
    padding-left: $spacer;
    padding-right: $spacer;
    max-width: 12rem;
    max-height: 8rem;
  }
}

// v2

.list-sponsor {
  flex-wrap: wrap;

  > div {
    flex: 0 1 auto;
    width: 9rem;
  }
}
