/*------------------------------------------------------------------------------
  Sponsor thumb list
------------------------------------------------------------------------------*/

//
// styling for sponsor lists with categories
// --------------------------------------------------

.sponsor-list-shortcode {

  .list-sponsor {
    margin: 0;
    // override bootstrap's responsive full-width columns at mobile
    flex-flow: row wrap;
  }

  h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .card {
    flex-basis: 33.333333% !important;
    max-width: 33.333333%;
    margin: 0;
    background-color: transparent;
    border: none;
    padding-right: .25rem;
    padding-bottom: .25rem;

    > div {
      background-color: $white;
    }

    a {
      height: 5vw;
      min-height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      max-height: 75%;
      max-width: 80%;
      width: auto;
    }

    &.sponsor-large,
    &.sponsor-full {
      flex-basis: 100% !important;
      max-width: 100%;
      a {
        height: 11vw;
        min-height: 12rem;
      }
    }

    &.sponsor-half {
      flex-basis: 50% !important;
      max-width: 50%;
      a {
        height: 8vw;
        min-height: 9rem;
      }
    }

    &.sponsor-third {
      flex-basis: 33.333333% !important;
      max-width: 33.333333%;
      a {
        height: 5vw;
        min-height: 6rem;
      }
    }

    &.sponsor-small,
    &.sponsor-quarter {
      flex-basis: 25% !important;
      max-width: 25%;
      a {
        height: 3.65vw;
        min-height: 4rem;
      }
    }
  }
}



//
// make list not collapse at mobile, but only for non-archive pages
// --------------------------------------------------



body:not(.post-type-archive-sponsors) {

  .card-deck.list-sponsor .card {
    // override bootstrap's responsive full-width columns at mobile
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
  }

}
