/*------------------------------------------------------------------------------
  Sponsor thumb list
------------------------------------------------------------------------------*/

.sponsor-group {
  max-width: 60rem;
  margin: auto;

  + .sponsor-group {
    margin-top: $spacer;
  }
}

.sponsor-thumb {
  max-width: 12rem;
  min-width: 12rem;
  margin-top: $spacer;

  img {
    padding-left: $spacer;
    padding-right: $spacer;
    max-width: 12rem;
    max-height: 8rem;
  }
}

// v2

// .list-sponsor {
//   flex-wrap: wrap;

//   > div {
//     flex: 0 1 auto;
//     margin-top: $spacer;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     max-width: 20%;
//     min-width: 20%;

//     > a {
//       padding: $spacer ($spacer / 2);
//       max-width: 20%;
//       max-height: 15%;
//       min-width: 20%;
//       min-height: 15%;
//       display: block;
//     }

//     // sponsors marked as large
//     &.sponsor-large {
//       max-width: 28rem;

//       img {
//         max-width: 28rem;
//         max-height: 18rem;
//         min-width: 28rem;
//         min-height: 18rem;
//       }
//     }

//     // sponsors marked as small
//     &.sponsor-small {
//       max-width: 10rem;

//       img {
//         max-width: 10rem;
//         max-height: 6rem;
//         min-width: 10rem;
//         min-height: 6rem;
//       }
//     }
//   }
// }
.sponsor-list-template {
  .card-deck {
    justify-content: center;
  }
  .card {
    flex-basis: 15% !important;
    max-width: 15%;
    padding: 0;
    margin: ($grid-gutter-width /4) ($grid-gutter-width /4);
    a {
      height: 6vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      max-height: 60%;
      max-width: 85%;
    }

    &.sponsor-large {
      flex-basis: 30% !important;
      max-width: 30%;
      a {
        height: 12vw;
      }
    }

    &.sponsor-small {
      flex-basis: 8% !important;
      max-width: 8%;
      a {
        height: 6vw;
      }
    }
  }
}

.sponsor-list-shortcode {

  h5 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 2rem;
  }
  .card {
    flex-basis: 30% !important;
    max-width: 30%;
    margin: ($grid-gutter-width /4) ($grid-gutter-width /4);
    a {
      height: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      max-height: 60%;
      max-width: 90%;
    }

    &.sponsor-large {
      flex-basis: 48% !important;
      max-width: 48%;
      a {
        height: 11vw;
      }
    }

    &.sponsor-small {
      flex-basis: 21% !important;
      max-width: 21%;
      a {
        height: 4.5vw;
      }
    }
  }
}
