/*------------------------------------------------------------------------------
  Speaker thumbnail
------------------------------------------------------------------------------*/

.speaker-block {

  .btn-icon {
    position: absolute;
    bottom: $spacer / 2;
    right: $spacer / 2;
  }
}
