/*------------------------------------------------------------------------------
  Vertical timeline
------------------------------------------------------------------------------*/

.timeline {
  position: relative;
}

.timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 6px;
  height: 100%;
  width: 3px;
  background: $secondary;
}

@media only screen and (min-width: 1170px) {
  .timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-block {
  position: relative;
  margin: 1em 0;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 2em 0;
  }
  .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-bullet {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid $secondary;
  background: $white;
}

@media only screen and (min-width: 1170px) {
  .timeline-bullet {
    width: 15px;
    height: 15px;
    left: 50%;
    margin-left: -8px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.timeline-content {
  position: relative;
  min-height: 50px;
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content .date {
  display: inline-block;
  color: $white;
}

.timeline-heading {
  font-weight: $font-weight-bold;
  font-family: $headings-font-family;
  color: $primary;
}

.timeline-heading,
.timeline-content p,
.timeline-content .date {
  margin: 5px 0;
  line-height: 1.6;
}

.timeline-content .date {
  float: left;
  padding: 0;
  opacity: .7;
}

@media only screen and (min-width: 768px) {
  .timeline-content {
    margin-left: 60px;
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    width: 47.3%;
  }
  .timeline .timeline-block:nth-child(odd) .timeline-content h2,
  .timeline .timeline-block:nth-child(odd) .timeline-content p {
    text-align: right;
  }
  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: $secondary;
  }
  .timeline-content .read-more {
    float: left;
  }
  .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 112%;
    top: 0;
  }
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: $secondary;
  }
  .timeline-block:nth-child(even) .timeline-content .read-more {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content .date {
    left: auto;
    right: 112%;
    text-align: right;
  }
}
