/*------------------------------------------------------------------------------
  Responsive typography settings
------------------------------------------------------------------------------*/

// font sizes for mobile
@include media-breakpoint-down(xs) {
  html {
    font-size: .9rem;
  }
}
