/*------------------------------------------------------------------------------
  Text column utility
------------------------------------------------------------------------------*/
.text-col-2 {
  column-count: 2;
  column-gap: $grid-gutter-width * 2;

  li {
    break-inside: avoid-column;
  }
}
