/*------------------------------------------------------------------------------
  Footer styles
------------------------------------------------------------------------------*/

.footer-primary {
  padding-top: $spacer;
  padding-bottom: $spacer;
}
